name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/gradle-setup

      - name: Build
        run: ./gradlew build --no-daemon
